
// Body
$body-bg:       #f5f8fa;
$primary:       #59287a;
$secondary:     #00c9a7;
$success:       #0dd157;
$info:          #2972fa;
$warning:       #fab633;
$danger:        #fb4143;
$light:         #f6f9fc;
$dark:          #1b1e24;

// Typography
$font-family-sans-serif: "Open Sans", "Roboto", "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$material-icons-font-size: 1.28571rem;
